body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica neue", Helvetica, sans-serif;
  background: #bbc7a4;
}

.container {
  margin: 0 auto; /*center*/
  width: 90%;
  border: 1px dotted white;
}

.grid {
  /* width: 99%; */
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
}

.cell {
  /* background: #dcf763; */
  background: #d6dbd2;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}