body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'New Tegomin', serif;
  background: #bbc7a4;
}

nav {
  padding: 30px;
}

.grid {
  /* width: 99%; */
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}

.cell {
  /* background: #dcf763; */
  background: #d6dbd2;
  height: 215px;
  flex-basis: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid black;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}